.header {
    padding: 0 10px;
    background-color: #1e4356;
    .logo {
        width: 120px;
        float: left;
        img{
            flex: 1;
            width: 120px;
            height: 31px;
        }
    }
    .top-navigation{
        float: left;
    }
    .user-info{
        width: 200px;
        float: right;
        text-align: center;
        
    }
}

