.layout-sider {
    box-shadow: 2px 0 6px 2px rgba(20, 26, 51, 0.50);
    z-index: 1010;
    background: #141A33;
    .ant-menu-item.ant-menu-item-only-child {
        .anticon{
            margin-right: 10px;
        }
    }
    .ant-menu.ant-menu-dark .ant-menu-item-selected,
    .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
        background: #272E4C;
    }
    .logo {
        width: 180px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            display: block;
            width: 140px;
        }
    }
    .sideMenu{
        overflow-y: auto;
        margin-bottom: 100px;
    }
    .ant-layout-sider-children{
        overflow: hidden;
    }
}
