.first-page{
    width: 400px;
    height: 300px;
    border: 1px solid #dddddd;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -200px;
}
